@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'VCR';
  src: url(/vcr.ttf) format('truetype');
}

:root {
  font-family: 'Lora', serif;
}

.ascii {
  margin-bottom: 0;
  padding: 0;
  white-space: pre;
  font-weight: 700;
  font-family: monospace;
}

.dvd {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 62px;
  width: 73px;
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}
